{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/signup.css' %}">
{% endblock%}
{% block title %}
    <title>Blog | Sign Up</title>
{% endblock %}

{% block main %}
    <main class="box">
        <div class="signup-case">
            <form action="" method="POST">{% csrf_token %}
                <div class="f-name-block">
                    <input type="text" placeholder="Enter First Name" name="f-name" id="f-name" class="input" required='required'>
                </div>
                <div class="l-name-block">
                    <input type="text" placeholder="Enter Last Name" name="l-name" id="l-name" class="input" required='required'>
                </div>
                <div class="e-mail-block">
                    <input type="text" placeholder="E-Mail" name="e-mail" id="e-mail" class="input" required='required'>
                </div>
                <div class="u-name-block">
                    <input type="text" placeholder="Enter Username" name="u-name" id="u-name" class="input" required='required'>
                </div>
                {% if user.is_publisher %}
                <div class="password-block">
                    <input type="password" placeholder="Password" name="password" id="password" class="input" required='required'>
                </div>
                {% endif %}
                <button class="btn">Sign Up</button>
                <footer class="form-footer"><small>Already Registered? <a href="{% url 'main:login' %}">Login</a></small></footer>
            </form>
        </div>
    </main>
{% endblock %}

{% block script %}

{% endblock %}